$color-primary-red: hsl(7, 99%, 70%);
$color-primary-yellow: hsl(51, 100%, 49%);
$color-primary-dark-cyan: hsl(167, 40%, 24%);
$color-primary-blue: hsl(198, 62%, 26%);
$color-primary-moderate-cyan: hsl(168, 34%, 41%);
$color-neutral-desaturated-blue: hsl(212, 27%, 19%);
$color-neutral-verydarkgray-blue: hsl(213, 9%, 39%);
$color-neutral-darkgray-blue: hsl(232, 10%, 55%);
$color-neutral-gray-blue: hsl(210, 4%, 67%);
$color-white: hsl(0, 0%, 100%);
